@charset "UTF-8";
.layui-card{
	box-shadow: 0 2px 4px #4caf50f0;
}
.layui-breadcrumb{
	visibility: visible;
}
.layui-breadcrumb a{
	padding-left: 20px;
}
.layui-tab{
	overflow: hidden;
}

.layui-tab-title{
    float: left;
    height:auto;
    width: 200px;
}
.layui-tab-content{
    float: left;
    width: auto;
}
.layui-tab-title li{
	display: block;
  line-height:70px;
	height: 70px;
	font-size:x-large;
}
.layui-carousel img{
	width:100%;
	height:100%;
}
.layui-tab-card>.layui-tab-title .layui-this{
	background-color: #f8f8f8;
}
@media screen and (max-width: 992px) {
	.layui-container {
		width: auto;
	}
}
.layui-nav-tree{
	width:100%;
}
.layui-form-item {
	margin-bottom: 12px;
}

.layui-container {
	padding: 0;
}
.layui-btn+.layui-btn {
   margin-left: 0; 
}
.logo {
	margin-left:20px;
	height:50px;
}

.position {
	height: 50px;
	line-height: 50px;
	background-color: #fff;
}

.position-choose {
	background-color: #ddd;
}

.welcome {
	height: 80px;
	background-size: 100% 100%;
}

.nav {
	background-color: #62AB00;
	font-weight: normal;
}

.nav li {
	width: 150px;
}

.nav a {
	font-size: 1.2rem;
	text-align: center;
}
/* 首页 */
.index-main {
	padding: 20px 20px;
}


.quick-info {
	font-size: xx-large;
	color: #999;
}

.quick-search {
	display: flex;
}

.quick-search>* {
	height: 50px;
}

.quick-search button {
	flex-basis: 80px
}

.quick-price, .quick-area {
	height: 80px;
}


.ad-1 {
	height: 110px;
	margin: 20px 0;
}
.ad-2 {
	height: 220px;
	margin: 20px 0;
}
.ad-1>img,.ad-2>img{
	width:100%;	
	height:100%;
}

/* userStatus */

.user-status {
	/* 	height: 400px; */
	padding: 20px;
	background-color: #eee;
	opacity: 0.5;
	margin-bottom:30px;
}

.login-title {
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
}

.login-label {
	width: 40px;
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	text-align: left;
	font-size: 1.1rem;
}

.login-input {
	margin-left: 50px;
}

.login-wjmm {
	float: right;
	margin-top: 8px;
}

.user-notice-image {
	float: left;
	box-sizing: border-box;
	width: 50%;
	text-align: center;
}

.user-notice-image img {
	width: auto;
	height: 80px;
	border-radius: 40px;
}

.user-notice-name {
	float: left;
	box-sizing: border-box;
	padding-left: 10px;
	width: 50%;
	height: 80px;
	line-height: 40px;
	background-color: #eee;
}

.user-notice {
	margin-left: 20px;
	margin-top: 20px;
}

.user-notice i {
	display: inline-block;
	width: 49%;
	margin-top: 10px;
}
/* sell */
.sell-top>img{
	margin-top:30px;
	width:100%;
	height:100px;
}
.sell-main{
	box-sizing: border-box;
}
.sell-tab{
	width:80%;
	margin:0 auto;
	background-color: #fff;
}
.sell-tab li{
	font-weight:blod;
}
.layui-upload-img{
	height: 150px;
	width: auto;
}
#houseInfoSubmit {
	padding: 20px 40px;
}

/* buy */
.buy-box{
	margin:15px 0;
}
.buy-box:hover{
	box-shadow: none;
	background-color: #c5eac787;
}
.buy-box:hover .buy-text-title{
	text-decoration: underline;
}
.buy-search{
	margin-top:10px;
}
.buy-img{
	width: 100%;
	height:auto;
}
.buy-img-show{
	height:100%;
}
.buy-item-text{
	padding: 5px 20px;
}
.buy-text-title{
	font-size:1.3em;
	margin-top:10px;
	margin-bottom:10px;
	font-weight: bolder;
}
.buy-text-price{
	margin-top: 40px;
	font-size:1.4em;
	color: red;
	font-weight: bolder;
}
.buy-more{
	height: auto;
	padding:10px 0;
	font-size:1.2em;
	margin-top:20px;
}
.buy-all-img{
	margin-left:200px;
	padding: 0;
}
